<div class="container">
    <!-- <div class="wrapper">
        <input id="text" type="text" class="text-large" placeholder="Verejný klúč">
    </div> -->
    <div class="wrapper">
        <label class="input-btn text-large flex-center" for="encrypt" [ngClass]="isEncrypting()">
            <span>Zašifruj súbor</span>
            <div *ngIf="encryptLoading" class="loader"></div>
        </label>
        <input id="encrypt" type="file" (change)="encryptFile($event.target.files)"
         hidden>
    </div>
    <span class="line"></span>
    <div class="wrapper">
        <label class="input-btn text-large flex-center" for="decrypt" [ngClass]="isEncrypting()">
            <span>Odšifruj súbor</span>
            <div *ngIf="decryptLoading" class="loader"></div>
        </label>
        <input id="decrypt" type="file" (change)="decryptFile($event.target.files)" hidden>
    </div>

</div>