<div class="container half-width">

  <div class="divide-sides">
    <div class="side-wrapper">
      <div class="wrapper">
          <input id="publicK"
                 type="text"
                 class="text-large"
                 placeholder="Verejný kľúč"
                 [(ngModel)]="keys.publicK">
      </div>

      <div class="wrapper">
          <label class="input-btn text-large flex-center" for="encrypt" [ngClass]="isEncrypting()">
              <span>Zašifruj súbor</span>
              <div *ngIf="encryptLoading" class="loader"></div>
          </label>
          <input id="encrypt"
                 type="file"
                 (change)="encryptFile($event.target.files)"
                 hidden>
      </div>
    </div>

    <!-- <div class="middle"></div> -->

    <div class="side-wrapper">
      <div class="wrapper">
          <input id="privateK"
                 type="text"
                 class="text-large"
                 placeholder="Privátny kľúč"
                 [(ngModel)]="keys.privateK">
        </div>
        <div class="wrapper">
          <label class="input-btn text-large flex-center" for="decrypt" [ngClass]="isEncrypting()">
              <span>Odšifruj súbor</span>
              <div *ngIf="decryptLoading" class="loader"></div>
          </label>
          <input id="decrypt"
                 type="file"
                 (change)="decryptFile($event.target.files)"
                 hidden>
        </div>
    </div>

  </div>

  <div class="download-wrapper" (click)="downloadApp()">
    <div class="download-nested-wrapper">
      <span><b>Stiahni offline appku</b></span>
      <img class="svg-img" src="assets/download-icon.svg" alt="download-app">
    </div>
  </div>

</div>
