.icon {
    height: auto;
    width: 50px;
}

.key-wrapper {
    position: relative;
    top: -5px;
    left: -40px;
    display: flex;
    width: fit-content;
    background-color: #d7d7d7;
    padding: 2px 4px;
    margin-top: 15px;
    border-radius: 50px;
    box-shadow: 1px 0.5px 1px 0 rgba(0, 0, 0, 0.27);
    &:hover {
        background-color: #bcbcbc;
        transform: rotate(40deg);
        transition: 0.8s;
    }
}

.download-wrapper {
    position: relative;
    top: -5px;
    left: 40px;
    display: flex;
    width: fit-content;
    background-color: #d7d7d7;
    padding: 2px 4px;
    margin-top: 15px;
    border-radius: 50px;
    box-shadow: 1px 0.5px 1px 0 rgba(0, 0, 0, 0.27);
    &:hover {
        background-color: #bcbcbc;
        transform: rotate(40deg);
        transition: 0.8s;
    }
}

.flex-between {
    display: flex;
    justify-content: space-between;
}