<div class="container">
  <table>
    <tr>
      <th>#</th>
      <th>Názov súboru</th>
      <th>Odosielateľ</th>
      <th>Komentár</th>
      <th>Stiahnuť</th>
    </tr>
    <tr *ngFor="let fileData of filesData; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ fileData.filename }}</td>
      <td>{{ fileData.senderUsername }}</td>
      <td>dummy komentár</td>
      <td>
        <img src="assets/download-button.svg" alt="download-image" class="svg-img" (click)="downloadFile(fileData)">
      </td>
    </tr>
  </table>
</div>
