<app-menu></app-menu>
<div class="mt-5 container col-lg-6">
  <h1 class="text-center">Registration</h1>
  <div class="card">
    <div class="card-body">
      <!-- <form class="form-group"> -->
        <!-- <div class="alert alert-warning" *ngIf='notEqualPasswords'>{{errorMessage1}}</div>
        <div class="alert alert-warning" *ngIf='usedUsername'>{{errorMessage2}}</div> -->

        <div class="user-input-group">
          <label for="username">Username</label>
          <input type="text" id="username" [(ngModel)]="username">
          <div class="warning-message-wrapper">
            <p *ngIf="userAlreadyExists">Unfortunately, the username is already taken.</p>
          </div>
        </div>

        <div class="user-input-group">
          <label for="password">Password</label>
          <input type="text" id="password" [(ngModel)]="password">
          <div class="warning-message-wrapper">
            <p *ngIf="password.length > 0">{{ checkPassword() }}</p>
          </div>
        </div>

        <div class="user-input-group">
          <label for="password-repeat">Repeat Password</label>
          <input type="text" id="password-repeat" [(ngModel)]="passwordRepeat">
          <div class="warning-message-wrapper" >
            <p *ngIf="checkEqualPasswords() && passwordRepeat.length > 7">The passwords do not equal.</p>
          </div>
        </div>

        <div class="btn-wrapper">
          <button (click)=checkPasswordStrength() class="btn btn-warning">Check the password's strength</button>
          <button (click)=handleSignUp() class="btn btn-success">Sign up</button>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>
