<app-menu></app-menu>
<div class="mt-5 container col-lg-6">
  <h1 class="text-center">Registrácia</h1>
  <div class="card">
    <div class="card-body">
        <!-- <div class="alert alert-warning" *ngIf='notEqualPasswords'>{{errorMessage1}}</div>
        <div class="alert alert-warning" *ngIf='usedUsername'>{{errorMessage2}}</div> -->

        <div class="user-input-group">
          <label for="username">Použivateľské meno</label>
          <input type="text" id="username" [(ngModel)]="username">
          <div class="warning-message-wrapper">
            <p *ngIf="userAlreadyExists">Toto užívateľské meno už existuje.</p>
          </div>
        </div>

        <div class="user-input-group">
          <label for="password">Heslo</label>
          <input type="password" id="password" [(ngModel)]="password">
          <div class="warning-message-wrapper">
            <p *ngIf="password.length > 0">{{ checkPassword() }}</p>
          </div>
        </div>

        <div class="user-input-group">
          <label for="password-repeat">Opakovať heslo</label>
          <input type="password" id="password-repeat" [(ngModel)]="passwordRepeat">
          <div class="warning-message-wrapper" >
            <p *ngIf="checkEqualPasswords() && passwordRepeat.length >= 8">Heslá sa nezhodujú.</p>
          </div>
        </div>

        <div class="btn-wrapper">
          <button (click)=checkPasswordStrength()
                  class="btn btn-warning"
                  title="Umožní skontrolovať zraniteľnosť voči slovníkovému útoku"
                  [disabled]="checkPassword().length > 0">
                  {{ checkPassword().length === 0 ?
                    'Skontrolovať zraniteľnosť hesla':
                    'Heslo je stále zraniteľné' }}</button>
          <button (click)=handleSignUp()
                  class="btn btn-success"
                  [disabled]="checkEqualPasswords() || checkPassword().length > 0 || username.length === 0">
                  Sign up</button>
        </div>
        <div class="message-wrapper">
            <p [ngStyle]="{'color': passwordIsValid ? 'green': 'red'}">{{ vulnerabilityMessage }}</p>
        </div>
    </div>
  </div>
</div>
