<div class="container keys-container">

  <label class="margin-tp-btm" for="publicKey">Verejný kľúč</label>
  <div class="textarea-wrapper">
    <textarea name="publicK" id="publicKey" #publicKeyTextArea>{{ keyPair.publicK }}</textarea>
    <img src="assets/copy.svg"
          class="svg-img"
          alt="copy-to-clipboard"
          title="Kopírovať kľúč"
          (click)="copyKeyToClipboard(publicKeyTextArea)">
  </div>

  <label class="margin-tp-btm" for="privateKey">Privátny kľúč</label>
  <div class="textarea-wrapper">
    <textarea name="privateKey" id="privateKey" #privateKeyTextArea>{{ keyPair.privateK }}</textarea>
    <img src="assets/copy.svg"
         class="svg-img"
         alt="copy-to-clipboard"
         title="Kopírovať kľúč"
         (click)="copyKeyToClipboard(privateKeyTextArea)">
  </div>
  <div class="row">
      <div class="col btn-wrapper">
          <button class="pretify-btn" (click)="getKeys(false)">Získaj uložené kľúče</button>
        </div>
      <div class="col btn-wrapper">
        <button class="pretify-btn" (click)="getKeys(true)">Generuj kľúče</button>
      </div>
  </div>
</div>
