<div class="fade">
        <div class="modal">
          <div class="modal-header">
              <h2 class="modal-title pull-left">{{title}}</h2>
              <div class="close" (click)="bsModalRef.hide()">✕</div>
            </div>
            <div class="modal-body">
              <div *ngIf="list.length">
                <div *ngFor="let item of list" class="section">{{item}}</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-modal btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
            </div>
        </div>
      </div>